
<form [formGroup]="addClientForm" (ngSubmit)="onSubmit()" class="client-form">
  <mat-form-field class="client-detail">
    <input matInput placeholder="First Name" formControlName="FirstName" required>
    <mat-error *ngIf="addClientForm.invalid">First name is required</mat-error>
  </mat-form-field>
  <mat-form-field class="client-detail">
    <input matInput placeholder="Last Name" formControlName="LastName" required>
    <mat-error *ngIf="addClientForm.invalid">Last name is required</mat-error>
  </mat-form-field>
  <mat-form-field class="client-detail">
    <input matInput placeholder="JMBG" formControlName="JMBG" required>
    <mat-error *ngIf="addClientForm.invalid">JMBG is required</mat-error>
  </mat-form-field>
  <mat-form-field class="client-detail">
    <input matInput [matDatepicker]="picker" placeholder="Birth Date" formControlName="BirthDate" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="addClientForm.invalid">Date of birth is required</mat-error>
  </mat-form-field>
  <mat-form-field class="client-detail">
    <input matInput placeholder="Email" formControlName="Email" required>
    <mat-error *ngIf="addClientForm.invalid">Email is required</mat-error>
  </mat-form-field>
  <mat-form-field class="client-detail">
    <input matInput placeholder="Address" formControlName="Address" required>
    <mat-error *ngIf="addClientForm.invalid">Address is required</mat-error>
  </mat-form-field>
  <mat-form-field class="client-detail">
    <input matInput placeholder="PhoneNumber" formControlName="PhoneNumber" required>
    <mat-error *ngIf="addClientForm.invalid">Phone number is required</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" class="add-client-btn">Add</button>
</form>
